pkgbase = binutils-h8300-hms
	pkgdesc = h8300 cross binutils
	pkgver = 2.16.1
	pkgrel = 1
	arch = x86_64
	license = GPL
	source = binutils-h8300-hms.deb::http://lug.mtu.edu/ubuntu/pool/universe/b/binutils-h8300-hms/binutils-h8300-hms_2.16.1-10build1_amd64.deb
	md5sums = d0ffe60149a62f5ce3a12f1b0beab005

pkgname = binutils-h8300-hms

